<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Predict results of sport games">
        <meta name="keywords" content="Sport, Predictions, Games, Result">
        <meta name="author" content="Andre Suzanovich">

        <title>{% block title %}{% endblock %} - Sport Results Predictions</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/foundation-datepicker.min.css') }}">
        <!-- third-party libs -->
        <script src="{{ url_for('static', filename='js/libs/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/underscore-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/backbone-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/foundation.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/foundation-datepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/moment-with-locales.min.js') }}"></script>
        <!-- application scripts -->
        <script src="{{ url_for('static', filename='js/prediction.js') }}"></script>
        <script src="{{ url_for('static', filename='js/predictionList.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Deep Sport Analitycs</li>
          </ul>
        </div>
      </div>

      <div id="content">{% block content %}{% endblock %}</div>

      <footer class="row">
       <div class="large-12 columns">
         <hr/>
         <div class="row">
           <div class="large-6 columns">
             <p>E-mail: <a href="mailto:info@deepsport.info">info@deepsport.info</a></p>
           </div>
         </div>
       </div>
      </footer>
      <script>
        $(document).foundation();
      </script>
    </body>
</html>
